.vs/wgui/v15/ipch/AutoPCH/60d635b6c99446aa/PROSPER_UTIL_SQUARE_SHAPE.ipch
.vs/wgui/v15/ipch/AutoPCH/52b056e54ace08a2/PROSPER_BUFFER.ipch
.vs/wgui/v15/ipch/659ef750ff520c9b.ipch
.vs/wgui/v15/ipch/34f8f157d1aaa4a2.ipch
.vs/wgui/v15/Browse.VC.db
.vs/wgui/v15/ipch/cb90931b5b6c4fa8.ipch
x64/Release/wgui.ipdb
x64/Release/wgui.iobj
x64/Release/wgui.exp
wgui/x64/Release/wgui.tlog/wgui.write.1u.tlog
wgui/x64/Release/wgui.tlog/wgui.lastbuildstate
wgui/x64/Release/wgui.tlog/link.write.1.tlog
wgui/x64/Release/wgui.tlog/link.read.1.tlog
wgui/x64/Release/wgui.tlog/link.command.1.tlog
wgui/x64/Release/wgui.tlog/CL.write.1.tlog
wgui/x64/Release/wgui.tlog/CL.read.1.tlog
wgui/x64/Release/wgui.tlog/CL.command.1.tlog
build_winx64/
